
extends /pug/extends/base.pug

block headVar
  - var title = "Cards"

block headCss

block body
  include /blocks/UIkit.blocks/HeaderUIkit/HeaderUIkit.pug
  include /blocks/UIkit.blocks/Cards/Cards.pug

block scripts