extends /pug/extends/base.pug

block headVar
  - var title = "Colors & Type | UI kit"

block headCss

block body
  include /blocks/UIkit.blocks/HeaderUIkit/HeaderUIkit.pug
  include /blocks/UIkit.blocks/Colors&Type/Colors&Type.pug

block scripts