extends /pug/extends/base.pug

block headVar
  - var title = "Form Elements | UI kit"

block headCss

block body
  include /blocks/UIkit.blocks/HeaderUIkit/HeaderUIkit.pug
  include /blocks/UIkit.blocks/FormElements/FormElements.pug

block scripts