extends /pug/extends/base.pug

block headVar
  - var title = "Headers&Footers"

block headCss

block body
  include /blocks/UIkit.blocks/HeaderUIkit/HeaderUIkit.pug
  include /blocks/UIkit.blocks/Headers&Footers/Headers&Footers.pug

block scripts