fieldset.checkbox__fieldset.rich-checkbox__fieldset
  label.checkbox__label
    input(type="checkbox", name="1").checkbox__input
    .checkbox__box
    .rich-checkbox__info
      .rich-checkbox__title Широкий коридор
      .rich-checkbox__text Ширина коридоров в номере не менее 91 см.
  label.checkbox__label
    input(type="checkbox", name="p2et").checkbox__input
    .checkbox__box
    .rich-checkbox__info
      .rich-checkbox__title Помощник для инвалидов
      .rich-checkbox__text На 1 этаже вас встретит специалист и проводит до номера.