header.header.container-fluid
  .row.align-items-center
    .logo
    nav.menu
      ul.menu_container
        li.menu__item
          a.menu__link.bodyText(href="/") Главная
        li.menu__item
          a.menu__link.bodyText(href="/pages/Cards.html") Cards
        li.menu__item
          a.menu__link.bodyText(href="/pages/Colors&Type.html") Colors&Type
        li.menu__item
          a.menu__link.bodyText(href="/pages/FormElements.html") FormElements
        li.menu__item
          a.menu__link.bodyText(href="/pages/Headers&Footers.html") Headers&Footers