.booking-room {
  @include  CardsBlock(380px);
}

  .booking-room__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

    .booking-room__info {
      display: flex;
      align-items: baseline;
    }

      .booking-room__symbol {
        margin: 0;
        @include MontserratBold(14px, 18px);
        color: $Dark100;
      }

      .booking-room__number-room {
        margin: 0 0 0 5px;
        @include MontserratBold(24px, 30px);
        color: $Dark100;
      }

      .booking-room__comfort {
        margin: 0;
        @include MontserratBold(12px, 16px);
        color: $Purple;
        text-transform: uppercase;
      }

    .booking-room__price {
      margin: 0;
      color: $Dark50;
      @include MontserratNormal(12px, 18px);
    }
      .booking-room__price-bold {
        @include MontserratBold(14px, 18px);
      }

  .booking-room__counting {
    @include MontserratNormal(14px, 24px);
    color: $Dark75;
  }
    .booking-room__info-count {
      display: flex;
      margin-bottom: 10px;
    }
      .booking-room__info-service {
        width: 215px;
      }
      .booking-room__info-about-service {
        width: 20px;
        height: 20px;
        border: 1px solid $Dark25;
        border-radius: 50%;
        color: $Dark25;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
      }
      .booking-room__info-about-service::before {
        content: "!";
      }
      .booking-room__info-price {
        margin-left: auto;
      }

  .booking-room__count {
    display: flex;
    justify-content: space-between;
    @include MontserratBold(20px, 24px);
    color: $Dark100;
    align-items: baseline;
  }
    .booking-room__total {
      flex-shrink: 0;
    }
    .booking-room__line {
      width: 100%;
      height: 1px;
      border-bottom: 1px dashed $Dark25;
    }
    .booking-room__total-price {
      flex-shrink: 0;
    }