mixin input-date-dropdown(width)
  .input-container(class=width)
    label.input-container__label
      h3.input-container__title date Dropdown
    .input-date-dropdown
      input(type="text", placeholder="ДД.ММ.ГГГГ").input-date-masked.width-full
      span.material-icons.input-date-dropdown__icon expand_more