mixin input-date-dropdown(width)
  .input-date-dropdown(class=width)
    input(type="text", placeholder="ДД.ММ.ГГГГ").input-date-masked.width-full
    span.material-icons.input-date-dropdown__icon expand_more