.demonstrate-room
  .demonstrate-room__slider
    .demonstrate-room__icons.demonstrate-room__prev.material-icons expand_more
    .demonstrate-room__images
      img(src="/src/images/demonstrate-room__images/demonstrate-room-default.png", alt="default")
    .demonstrate-room__icons.demonstrate-room__next.material-icons expand_more
  .demonstrate-room__info-room
    .demonstrate-room__SymNumCom
      .demonstrate-room__symbol №
      .demonstrate-room__number-room 888
      .demonstrate-room__comfort Люкс
    .demonstrate-room__price-room <span class="demonstrate-room__price-room_bold">9 990₽</span> в сутки
  .demonstrate-room__line
  .demonstrate-room__info-room
    .demonstrate-room__rate-room
      .rate(star="3")
    .demonstrate-room__count-review <span class="demonstrate-room__count-review_bold">145</span> Отзывов