form(action="", method="post").login
  .login__title.mb-20 Войти
  .mb-10
    include /blocks/common.blocks/form.elements/email-field/email-field.pug
  .mb-20
    include /blocks/common.blocks/form.elements/password-field/password-field.pug
  .mb-30
    +proceed-to-checkout("Войти")
  .login__registration
    .login__info Нет аккаунта на Toxin?
    +input-submit-outline("Создать")