.dropdown {
  width: inherit;
  height: 44px;
  background: $White;
  border: 1px solid $Dark25;
  border-radius: 4px;
  padding-left: 15px;
  outline: none;
  @include MontserratNormal(14px, 18px);
  color: $Dark75;
  
  &:focus, &:hover {
    border: 1px solid $Dark50;
  }
}

.dropdown_hidden {
  display: none !important;
}

.dropdown_show {
  border: 1px solid $Dark50;
  height: auto;
}

.dropdown__body {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
}

.dropdown__icon {
  width: 44px;
  height: 44px;
  display: inherit;
  align-items: center;
  justify-content: center;
  transition: transform ease 300ms;
}

.dropdown__icon_rotate-180 {
  transform: rotate(180deg);
}

.dropdown__text {
  margin: 0;
}


.dropdown__options {
  width: calc(100% + 15px);
  height: auto;

  position: relative;
  left: -15px;

  overflow: hidden;

  padding: 15px 7px 15px 15px;
  border-top: 1px solid $Dark50;
}

.dropdown__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.dropdown__info {
  margin: 0;
}

.dropdown__count{
  width: 92px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown__output {
  margin: 0;
}

.dropdown__count-circle {
  width: 29px;
  height: 29px;

  border-radius: 50%;
  border: 1px solid $Dark25;

  user-select: none;
  cursor: pointer;

  font-size: 17px;
  color: $Dark50;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown__count-circle:hover, .dropdown__count-circle:focus {
  border: 1px solid $Dark50;
}

.dropdown__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: -5px;
}

.dropdown__submit {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  padding: 0;
  
  @include MontserratBold(12px, 14px);
  text-transform: uppercase;
  color: $Purple;
  cursor: pointer;

  transition: opacity ease 200ms;
}

.dropdown__submit:hover {
  opacity: 0.5;
}

.dropdown__submit_hidden{
  display: none;
}