@import "varColors.scss";
@import "/fonts/mixinFonts.scss";
@import "/fonts/MaterialIcons/material-icons.scss";

@import "/blocks/UIkit.blocks/HeaderUIkit/HeaderUIkit.scss";
@import "/blocks/UIkit.blocks/Colors&Type/Colors&Type.scss";
@import "/blocks/UIkit.blocks/Cards/Cards.scss";

// Text
h1 {
  @include QuicksandBold(24px, 30px);
  color: $Dark100;
}

h2 {
  @include QuicksandBold(20px, 24px);
  color: $Dark100;
}

h3 {
  @include MontserratBold(12px, 16px);
  text-transform: uppercase;
  color: $Dark100;
}

.body-text {
  @include MontserratNormal(14px, 24px);
  color: $Dark75;
}