@import "varColors.scss";
@import "mixinGradient.scss";
@import "/fonts/mixinFonts.scss";
@import "/fonts/MaterialIcons/material-icons.scss";

@import "/blocks/UIkit.blocks/HeaderUIkit/HeaderUIkit.scss";
@import "/blocks/UIkit.blocks/Colors&Type/Colors&Type.scss";
@import "/blocks/UIkit.blocks/FormElements/FormElements.scss";

// Text
h1 {
  @include QuicksandBold(24px, 30px);
  color: $Dark100;
}

h2 {
  @include QuicksandBold(20px, 24px);
  color: $Dark100;
}

h3 {
  @include MontserratBold(12px, 16px);
  text-transform: uppercase;
  color: $Dark100;
}

.body-text {
  @include MontserratNormal(14px, 24px);
  color: $Dark75;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}