.input-submit-outline {
  width: 100px;
  height: 45px;
  border-radius: 22px;
  @include PurpleGradient();

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity ease 200ms;
}

.input-submit-outline:hover {
  opacity: 0.5;
}

.input-submit-outline__input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: $White;
  border: none;
  padding: 0;
  
  @include MontserratBold(12px, 14px);
  text-transform: uppercase;
  color: $Purple;

  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 22px;
  cursor: pointer;
}