.footer-toxin
  .footer-toxin__header
    .footer-toxin__info
      img(src="/src/images/logo.svg", alt="Logo")
      .footer-toxin__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    nav.footer-toxin__navigation
      .footer-toxin__nav-title Навигация
      ul.footer-toxin__ul-wrapper
        li.footer-toxin__li-item
          a(href="#").footer-toxin__a-link О нас
        li.footer-toxin__li-item
          a(href="#").footer-toxin__a-link Новости
        li.footer-toxin__li-item
          a(href="#").footer-toxin__a-link Служба поддержки
        li.footer-toxin__li-item
          a(href="#").footer-toxin__a-link Услуги
    nav.footer-toxin__navigation
      .footer-toxin__nav-title О нас
      ul.footer-toxin__ul-wrapper
        li.footer-toxin__li-item
          a(href="#").footer-toxin__a-link О сервисе
        li.footer-toxin__li-item
          a(href="#").footer-toxin__a-link Наша команда
        li.footer-toxin__li-item
          a(href="#").footer-toxin__a-link Вакансии
        li.footer-toxin__li-item
          a(href="#").footer-toxin__a-link Инвесторы
    nav.footer-toxin__navigation
      .footer-toxin__nav-title Служба поддержки
      ul.footer-toxin__ul-wrapper
        li.footer-toxin__li-item
          a(href="#").footer-toxin__a-link Соглашения
        li.footer-toxin__li-item
          a(href="#").footer-toxin__a-link Сообщества
        li.footer-toxin__li-item
          a(href="#").footer-toxin__a-link Связь с нами
    nav.footer-toxin__navigation.width-260
      .footer-toxin__nav-title Подписка
      ul.footer-toxin__ul-wrapper
        li.footer-toxin__li-item
          .footer-toxin__a-link.mb-20 Получайте специальные предложения и новости сервиса
          include /blocks/common.blocks/form.elements/subscription-email-form/subscription-email-form.pug
  .footer-toxin__line
  .footer-toxin__footer
    .footer-toxin__content Copyright © 2018 Toxin отель. Все права зачищены.
    .footer-toxin__img
      a(href="#").footer-toxin__img-link
        img(src="/src/images/twitter-brands.svg", alt="Twitter")
      a(href="#").footer-toxin__img-link
        img(src="/src/images/facebook-square-brands.svg", alt="Facebook")
      a(href="#").footer-toxin__img-link
        img(src="/src/images/instagram-brands.svg", alt="Instagram")