fieldset.rate__fieldset
  input(type="radio", name="rate", value="1" aria-label="Ужасно").rate__input.rate__star
  input(type="radio", name="rate", value="2" aria-label="Плохо").rate__input.rate__star
  input(type="radio", name="rate", value="3" aria-label="Средне").rate__input.rate__star
  input(type="radio", name="rate", value="4" aria-label="Хорошо").rate__input.rate__star
  input(type="radio", name="rate", value="5" aria-label="Отлично").rate__input.rate__star