form(action="" method="post" enctype="text/plain").subscription
  input(type="email", name="subscription-email-from", placeholder="Email").input-email
  input(type="submit" value="").subscription__submit
  .material-icons.md-purple.subscription__icon arrow_forward