fieldset.checkbox__fieldset
  label.checkbox__label
    input(type="checkbox", name="smoke").checkbox__input
    .checkbox__box
    .checkbox__text Можно курить
  label.checkbox__label
    input(type="checkbox", name="pet").checkbox__input
    .checkbox__box
    .checkbox__text Можно с питомцами
  label.checkbox__label
    input(type="checkbox", name="guests").checkbox__input
    .checkbox__box
    .checkbox__text Можно пригласить гостей (до 10 человек)