extends ./pug/extends/base.pug

block headVar
  - var title = "Биологическая нейросеть за работой"
block headCss
  //- Here write link files css

block body
  header.header
    nav.menu
      ul
        li.menu__item
          a(href="#") Текст
        li.menu__item
          a(href="#") Текст
        li.menu__item
          a(href="#") Текст

  main.main
    h1 #{title}
    p.
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis amet quisquam saepe dicta delectus vero illum praesentium? Eveniet unde repellendus possimus vel corrupti odit laborum inventore minus ipsa! Provident!Inventore officia molestias quo! Ipsum voluptate adipisci praesentium architecto vel enim iure sunt distinctio sequi labore, molestias accusamus aspernatur modi pariatur recusandae qui iste maxime provident voluptas eum, aut fugiat.Doloribus provident possimus nihil reiciendis in suscipit quas, corporis alias illum excepturi, fugiat explicabo culpa repudiandae! Debitis libero recusandae sapiente accusantium quae repudiandae ratione, repellendus magnam quo iste, dolorem ea?Eum consequatur cupiditate qui obcaecati saepe commodi fugiat porro, doloribus doloremque eveniet voluptates corrupti dolor delectus deserunt molestiae ex earum. Perspiciatis, magnam nemo. Tempore accusantium, obcaecati repellendus beatae alias saepe!Iure reiciendis rem saepe fugit aperiam veniam necessitatibus perferendis accusamus, ipsam, officiis laborum tempora non laudantium veritatis error magni ex! Nulla in blanditiis corrupti eum eligendi distinctio quia vel consectetur.

  footer.footer
    p Просто footer

block scripts
  //- Here write script files js
