include /blocks/UIkit.blocks/FormElements/mixinFormElements.pug
main
  .container.mb-100
    .row.flex-column.flex-lg-row
      .col-4
        //- Email Field
        +FormElemContaner({title: "Email Field", info: "default"}, "width-320 mb-20")
          include /blocks/common.blocks/form.elements/email-field/email-field.pug

        //- Password Field
        +FormElemContaner({title: "Password Field"}, "width-320 mb-20")
          include /blocks/common.blocks/form.elements/password-field/password-field.pug
        
        //- Text Field
        .input-container.width-320.mb-20
          label().input-container__label
            h3.input-container__title Text Field
            p.input-container__info Hover / Focus
          include /blocks/common.blocks/form.elements/text-field/text-field.pug

        //- DROPDOWN
        //- У блока .dropdown, есть атрибут info (генерируется js), он обозначает какие значение и в каком кол-во выбрал пользователь.
        .input-container.width-320.mb-20
          label().input-container__label
            h3.input-container__title Dropdown
          include /blocks/common.blocks/form.elements/dropdown/dropdown.pug
          +dropdown({options:"adult: взрослые, child: дети, baby: младенцы", text:"Сколько гостей", buttons: "true", show: "true"})

        //- Masked Date Field
        .input-container.width-320.mb-40
          label().input-container__label
            h3.input-container__title Masked Date Field
          include /blocks/common.blocks/form.elements/masked-date-field/masked-date-field.pug

        //- Date dropdown
        .input-container-date-dropdown.width-320.mb-40
          include /blocks/common.blocks/form.elements/date-dropdown/date-dropdown.pug
          +input-date-dropdown("width-150")
          +input-date-dropdown("width-150")

        //- filter date dropdown
        .input-container.width-260.mb-40
          label.input-container__label
            h3.input-container__title filter date dropdown
          include /blocks/common.blocks/form.elements/filter-date-dropdown/filter-date-dropdown.pug

        //- subscription email form
        .input-container.width-260
          label.input-container__label
            h3.input-container__title subscription email form
          include /blocks/common.blocks/form.elements/subscription-email-form/subscription-email-form.pug
      .col-4.mt-md-4.mt-lg-0
        //- Checkbox Buttons
        .input-container.width-220.mb-40
          label.input-container__label
            h3.input-container__title.mb-15 Checkbox Buttons
          include /blocks/common.blocks/form.elements/checkbox-buttons/checkbox-buttons.pug

        //- Radio Buttons
        .input-container.width-220.mb-40
          label.input-container__label
            h3.input-container__title.mb-15 Radio Buttons
          include /blocks/common.blocks/form.elements/radio-buttons/radio-buttons.pug

        //- Toggle
        .input-container.width-220.mb-40
          label.input-container__label
            h3.input-container__title.mb-15 Toggle
          include /blocks/common.blocks/form.elements/toggle/toggle.pug
          +toggle("mb-20")
          label.toggle__label
            input(type="checkbox", name="offers", checked).toggle__input
            .toggle__point
            .toggle__text Получать спецпредложения

        //- Like button
        .input-container.width-90.mb-40
          label.input-container__label
            h3.input-container__title.mb-15 like button
          .like-demo-contaner
            label.like__label
              input(type="checkbox", name="like_demo").like__input
              .like__heart
                .like__count 2
            .like-button
              label.like__label
                input(type="checkbox", name="like").like__input
                .like__heart
                  .like__count(heartCount="12") 12

        //- Rate button
        .input-container.width-260
          label.input-container__label
            h3.input-container__title.mb-15 Rate button
          .d-flex.justify-content-between
            //- Rate block
            include /blocks/common.blocks/form.elements/rate-button/rate-button.pug
            //- Rate Demo (don't use)
            fieldset.rate__fieldset
              input(type="radio", name="rate-demo", value="1" aria-label="Ужасно").rate__input.rate__star
              input(type="radio", name="rate-demo", value="2" aria-label="Плохо").rate__input.rate__star
              input(type="radio", name="rate-demo", value="3" aria-label="Средне").rate__input.rate__star
              input(type="radio", name="rate-demo", value="4" aria-label="Хорошо" checked).rate__input.rate__star
              input(type="radio", name="rate-demo", value="5" aria-label="Отлично").rate__input.rate__star
      .col-4.mt-md-4.mt-lg-0
        //- Range Slider
        .input-container.width-260.mb-40
          label.input-container__label.mb-20
            h3.input-container__title Range Slider
            p.input-container__info.range-slider-output
          include /blocks/common.blocks/form.elements/range-slider/range-slider.pug

        //- Buttons
        .input-container.width-220.mb-40
          label.input-container__label
            h3.input-container__title.mb-15 Buttons
          .d-flex.justify-content-between.mb-30
            include /blocks/common.blocks/form.elements/input-submit-fill/input-submit-fill.pug
            input(type="submit", value="Click Me").input-submit-fill.input-submit-fill_hover
          .d-flex.justify-content-between.mb-30
            include /blocks/common.blocks/form.elements/input-submit-outline/input-submit-outline.pug
            .input-submit-outline.input-submit-outline_hover
              input(type="submit", value="Click Me").input-submit-outline__input
          .d-flex.mb-30
            include /blocks/common.blocks/form.elements/input-submit-text/input-submit-text.pug
            input(type="submit", value="Click Me").input-submit-text.input-submit-text_hover.ml-4
          include /blocks/common.blocks/form.elements/proceed-to-checkout/proceed-to-checkout.pug

        //- pagination
        .input-container.width-240.mb-40
          label.input-container__label
            h3.input-container__title.mb-15 pagination
          include /blocks/common.blocks/form.elements/pagination/pagination.pug
          +pagination("15")

  .container.mb-100
    .row.flex-column.flex-lg-row
      .col-4
        //- DROPDOWN
        //- У блока .dropdown, есть атрибут info (генерируется js), он обозначает какие значение и в каком кол-во выбрал пользователь.
        .input-container.width-260.mb-20
          label().input-container__label
            h3.input-container__title Dropdown
            p.input-container__info default
          .dropdown(options="bedroom: спальни, bed: кровати, bathroom: ванные комнаты", text="Сколько комнат")
        .input-container.width-260.mb-40
          label().input-container__label
            h3.input-container__title Dropdown
            p.input-container__info expanded
          .dropdown(options="bedroom: спальни, bed: кровати, bathroom: ванные комнаты", text="Сколько комнат", show)
      .col-4.mt-md-4.mt-lg-0
        .input-container.width-320.mb-20
          label().input-container__label
            h3.input-container__title Dropdown
            p.input-container__info expanded
          .dropdown(options="adult: взрослые, child: дети, baby: младенцы", text="Сколько гостей", show, buttons="true")
      .col-4.mt-md-4.mt-lg-0
        .input-container.width-320.mb-20
          label().input-container__label
            h3.input-container__title Dropdown
            p.input-container__info expanded
          .dropdown(options="adult: взрослые, child: дети, baby: младенцы", text="Сколько гостей", show, buttons="true")
    
    .row.flex-column.flex-lg-row
      .col-4.mt-md-4.mt-lg-0
        //- expandable checkbox list
        .mb-40
          include /blocks/common.blocks/form.elements/expandable-checkbox-list/expandable-checkbox-list.pug
          +expandable-checkbox-list({text:"expandable checkbox list", items:"one: one, two: two, three: three, four: foru, five: five"})
        .mb-40
          +expandable-checkbox-list({text:"expandable checkbox list", items:"Breakfast: Завтрак, Desk: Письменный стол, Feeding chair: Стул для кормления, Crib: Кроватка, tv: Телевизор, shampoo: Шампунь"}, "show")
      .col-4.mt-md-4.mt-lg-0
        //- Rich Checkbox Buttons
        +FormElemContaner({title: "Rich Checkbox Buttons"}, "width-260", "mb-15")
          include /blocks/common.blocks/form.elements/rich-checkbox-buttons/rich-checkbox-buttons.pug
      .col-4.mt-md-4.mt-lg-0
        //- bullet list
        +FormElemContaner({title: "bullet list"}, "width-260", "mb-15")
          include /blocks/common.blocks/form.elements/bullet-list/bullet-list.pug
          +bulletList("Нельзя с питомцами")
          +bulletList("Без вечеринок и мероприятий")
          +bulletList("Время прибытия — после 13:00, а выезд до 12:00")
      .col-4.mt-md-4.mt-lg-0
        //- advantage
        include /blocks/common.blocks/form.elements/advantage/advantage.pug 
        +advantage({icon: "insert_emoticon", title: "Комфорт", text: "Шумопоглощающие стены"}, "mb-20")
        +advantage({icon: "location_city", title: "Удобство", text: "Окно в каждой из спален"})
      .col-8.mt-md-4.mt-lg-0
        //- comment
        include /blocks/common.blocks/form.elements/comment/comment.pug
        +comment({name:"Мурад Сарафанов", date:"5 дней назад", text:"Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."})



