main
  div.container
    .row
      .col-6.d-flex.justify-content-start
        div.palette
          .palette_item
            .palette_color.palette_color__Dark100
            .palette_text
              p.palette_title Dark Shade 100%<br><span class="palette_nameColor">#1F2041</span>
          .palette_item
            .palette_color.palette_color__Dark75
            .palette_text 
              p.palette_title Dark Shade 75%<br><span class="palette_nameColor">#1F2041</span>        
          .palette_item
            .palette_color.palette_color__Dark50
            .palette_text 
              p.palette_title Dark Shade 50%<br><span class="palette_nameColor">#1F2041</span>             
          .palette_item
            .palette_color.palette_color__Dark25
            .palette_text 
              p.palette_title Dark Shade 25%<br><span class="palette_nameColor">#1F2041</span>            
          .palette_item
            .palette_color.palette_color__Dark5
            .palette_text 
              p.palette_title Dark Shade 5%<br><span class="palette_nameColor">#1F2041</span>
          .palette_item
            .palette_color.palette_color__Purple
            .palette_text 
              p.palette_title Purple<br><span class="palette_nameColor">#BC9CFF</span>
          .palette_item
            .palette_color.palette_color__Green
            .palette_text 
              p.palette_title Green<br><span class="palette_nameColor">#6FCF97</span>            
      .col-6.d-flex.justify-content-end
        //- .demo-text
        //-   .demo-text__item
        //-     h1.demo-text__title H1
        //-     h1.demo-text__description This one is the sub-section or<br>widget title
        //-   .demo-text__item
        //-     h2.demo-text__title H2
        //-     h2.demo-text__description Next one is the item title inside<br>widgets
        //-   .demo-text__item
        //-     h3.demo-text__title H3
        //-     h3.demo-text__description This is a label or CTA text
        //-   .demo-text__item
        //-     .demo-text__title.body-text Body
        //-     .demo-text__description.body-text This is the body text which is used for most<br>of the design, like paragraphs, lists, etc.
        .demo-text
          .demo-text__item
            h1.demo-text__title H1
            h1.demo-text__description This one is the sub-section or<br>widget title
          .demo-text__item
            h2.demo-text__title H2
            h2.demo-text__description Next one is the item title inside<br>widgets
          .demo-text__item
            h3.demo-text__title H3
            h3.demo-text__description This is a label or CTA text
          .demo-text__item
            .demo-text__title.body-text Body
            .demo-text__description.body-text This is the body text which is used for most<br>of the design, like paragraphs, lists, etc.