main
  div.container
    div.row 
      div.palette
        .palette_item
          .palette_color.palette_color__Dark100
          .palette_text 
            p.palette_title Dark Shade 100%<br><span class="palette_nameColor">#1F2041</span> 
            
