extends ./pug/extends/base.pug

block headVar
  - var title = "Главная"
block headCss
  //- Here write link files css

block body
  include /blocks/UIkit.blocks/HeaderUIkit/HeaderUIkit.pug

block scripts
  //- Here write script files js
