.registration {
  @include  CardsBlock(380px);
}

.registration-title {
  color: $Dark100;
  @include MontserratBold(24px, 30px);
}

.registration-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}