fieldset.radio__fieldset
  label.radio__label
    input(type="radio", name="gender", checked).radio__input
    .radio__point
    .radio__text Мужчина
  label.radio__label
    input(type="radio", name="gender").radio__input
    .radio__point
    .radio__text Женщина