include /blocks/common.blocks/form.elements/like-button/like-button.pug

.comment
  .comment__header
    .comment__photo
    .comment__info
      .comment__name Мурад Сарафанов
      .comment__date 5 дней назад
  .comment__body
    .comment__heart
      +likeButton()
    .comment__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.