include /blocks/common.blocks/form.elements/like-button/like-button.pug

mixin comment(data)
  .comment
    .comment__header
      .comment__photo
      .comment__info
        .comment__name=data.name
        .comment__date=data.date
    .comment__body
      .comment__heart
        +likeButton()
      .comment__text=data.text